/* main page style reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 1920;
  margin: 0 auto;
}
/* page style */
body {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.42em;
  font: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-page-wrapper {
  background: url(/images/bg/hero.jpg) center top no-repeat,
    #001821 right top no-repeat;
  /* url(/images/bg/middleline.jpg) center bottom no-repeat; */
}
.btn {
  display: block;
  background-color: #f5170e;
  border-radius: 35px;
  padding: 16px 31px;
  color: #ffffff;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  align-items: center;
  cursor: pointer;
}
/* position navbar relative to top header */
.container {
  margin: 0 auto;
  min-height: 124px;
  width: 1141px;
}
.header {
  position: relative;
  min-height: 125px;
  margin-bottom: 77px;
}
.logo {
  display: block;
  position: absolute;
  top: 30px;
  left: 0px;
  /* background-image: url("/images/Air_Asia-logo.png");
  background-repeat: no-repeat;
  background-size: contain; */
}
.logo__img {
  height: 36px;
  width: 85px;
  background-size: contain;
}
/* navbar header menu */
.navbar {
  position: absolute;
  top: 37px;
  left: 146px;
}
a {
  color: inherit;
}
.contacts {
  position: absolute;
  top: 28px;
  right: 104px;
}
.navbar__list {
  font-size: 14px;
  color: #ffffff;
}
.navbar__item {
  display: inline-block;
  text-align: center;
  margin-right: 54px;
}
.navbar__item:last-child {
  margin-right: 0;
}
.navbar__item--active .navbar__link {
  color: red;
}
.navbar__item:hover {
  color: #dfb56d;
}
.navbar__link {
  text-decoration: none;
}
.contacts {
  height: 35px;
  width: 191px;
  font-size: 26px;
  font-style: normal;
  text-align: right;
}
.contact__tel {
  text-decoration: none;
}
.contacts__dropmenu {
  margin-top: 4px;
  font-size: 13px;
  text-decoration: underline;
  color: #98a4a8;
}
/* main section */
.info {
  min-height: 340px;
  width: 515px;
  justify-content: center;
  margin-left: 0;
  margin-bottom: 172px;
}
.info__title {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.1em;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.info__text {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: normal;
}
/* tours section */
.tours {
  min-height: 550px;
  margin-left: 0;
  margin-bottom: 74px;
  font-size: 14px;
  color: #303030;
}
.tours__elm {
  margin-bottom: 51px;
}
.tours__item {
  display: inline-block;
  width: 330px;
  min-height: 440px;
  background: #ffffff;
  color: #666666;
  border-radius: 5px;
  margin-right: 27px;
  vertical-align: top;
}
.tours__item:last-child {
  margin-right: 0;
}
.tours__title {
  display: inline-block;
  margin-right: 13px;
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
}
.tours__img-section {
  min-height: 144px;
  margin-bottom: 30px;
}
.tours__img {
  display: block;
  width: 100%;
  height: 144px;
  object-fit: cover;
}
.tours__choice {
  padding: 0 22px;
}
.tours__subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 23px;
  color: #000000;
}
.tours__offer {
  margin-bottom: 23px;
}
.tours__offer-item {
  display: inline-block;
}
.tours__details {
  font-size: 16px;
  padding-left: 10px;
}
.tours__details:nth-child(odd) {
  margin-left: 25px;
}
.tours__descr {
  margin-bottom: 23px;
}
.btn--color-white {
  margin-bottom: 26px;
  background-color: #ffffff;
  padding: 16px 31px;
  color: #f5170e;
  border: 1px solid #f5170e;
}
.btn--color-white:hover {
  background: #2b2b2b;
}
.btn--color-red {
  margin-bottom: 26px;
  background-color: #f5170e;
  padding: 16px 31px;
  color: #ffffff;
}
.btn--color-red:hover {
  background: #da0100;
  box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
}

/* news */
.news__container {
  margin-left: 0;
}
.news__elm {
  margin-bottom: 14px;
}
.news__header {
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 1px;
  margin-bottom: 51px;
}
.news__item {
  width: 510px;
  padding: 0 25px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.news__item:nth-child(even) {
  padding-right: 0px;
}
.news__img {
  display: block;
  width: 100%;
  min-height: 390px;
  object-fit: cover;
  opacity: 0.7;
}
.news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 78px 35px;
  min-height: 110px;
}
.news__date {
  display: block;
  text-transform: capitalize;
  margin-bottom: 13px;
}
.news__subtitle {
  display: block;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 4px;
}
.news__desc {
  display: block;
  font-size: 16px;
}
/* paginator */
.paginator {
  text-align: center;
  margin-bottom: 130px;
}
.paginator__current,
.paginator__list {
  display: inline-block;
  margin-right: 47px;
}
.paginator__item {
  display: inline-block;
  padding: 0 0;
}
.paginator__item--active .paginator__link {
  color: #f5170e;
  background: #ffffff;
}
.paginator__link {
  display: block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  font-weight: 700;
  line-height: 32px;
  transition: 0.4s;
}
.paginator__link:hover {
  color: #f5170e;
  background: #ffffff;
}
/* about */
.abtus__container {
  margin-left: 0;
}
.abtus__container:before {
  content: "";
  width: 444px;
  height: 463px;
  background: url("/images/decor/gates.jpg") center center / cover no-repeat;
  border-radius: 5px;
}
.abtus__section {
  background: url("/images/decor/mountains.jpg") center center / cover no-repeat;
  width: 710px;
  height: 413px;
  object-fit: cover;
  margin: -365px 327px;
  vertical-align: middle;
  border-radius: 5px;
}
/* layered style */
.abtus__container:before,
.abtus__section {
  display: inline-block;
  vertical-align: top;
}
.abtus__title {
  font-size: 36px;
  font-weight: 700;
  color: #000000;
  padding-top: 74px;
  padding-left: 55px;
  margin-bottom: 40px;
}
.abtus__text {
  width: 500px;
  color: #060606;
  padding-top: 28px;
  padding-left: 81px;
}
.abtus__section button {
  margin-top: 43px;
  margin-left: 62px;
}
.abtus__text p:last-child {
  margin-bottom: 0;
}
/* footer */
.footer {
  position: relative;
  height: 150px;
  margin-top: 78px;
  margin-left: 0;
  padding-top: 0;
}
.footer__container-content {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.social__list {
  position: absolute;
  top: 31px;
  right: 318px;
  background: center center no-repeat;
}
.contacts__text {
  color: #9a9a9a;
  font-size: 11px;
}
.social__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.social__item:last-child {
  margin-right: 0;
}
.social__link {
  display: block;
  width: 36px;
  height: 36px;
  text-decoration: none;
  border-radius: 50%;
  transition: 0.3s;
}
.social__item-icn-tg .social__link {
  background-image: url("/images/icons/socials/t.png");
}
.social__item-icn-tg .social__link:hover {
  background-image: url("/images/icons/socials/t2.png");
}
.social__item-icn-vk .social__link {
  background-image: url("/images/icons/socials/vk.png");
}
.social__item-icn-vk .social__link:hover {
  background-image: url("/images/icons/socials/vk2.png");
}
.social__item-icn-fb .social__link {
  background-image: url("/images/icons/socials/f.png");
}
.social__item-icn-fb .social__link:hover {
  background-image: url("/images/icons/socials/f2.png");
}
.social__item-icn-insta .social__link {
  background-image: url("/images/icons/socials/in.png");
}
.social__item-icn-insta .social__link:hover {
  background-image: url("/images/icons/socials/in2.png");
}
.footer .contacts {
  position: absolute;
  top: 12px;
  right: 54px;
}
