html,
body {
  height: 100%;
}
body {
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.42em;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main {
  display: flex;
  flex-flow: column wrap;
  flex: 1;
}
.container {
  margin: 0 auto;
  width: 1141px;
}
