.form--position {
  margin-bottom: 65px;
}
.form__controls {
  display: flex;
  margin-bottom: 16px;
}
.inner-section--bg--grey {
  background: #f4f5f5;
  color: #1a1b1e;
  padding-top: 34px;
}
.form__controls--title {
  font-size: 18px;
  line-height: 1.4;
}
.inner-section__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 68px;
  width: 40%;
}
.form__row {
  display: flex;
  margin-bottom: 29px;
}
.form__row:last-child {
  margin-right: 0;
}
.form__input {
  flex: 1;
  padding: 22px 30px;
  margin-right: 24px;
  border-radius: 5px;
  background: #ffffff;
  color: #1a1b1e;
  font-size: 18px;
  border: 2px solid transparent;
}
input:focus,
textarea:focus {
  outline-color: transparent;
  border-color: #f5170e;
}
.form__input:last-child {
  margin-right: 0;
}
.form__input::placeholder {
  color: #666666;
}
.form__input--textarea {
  height: 232px;
  resize: none;
}
.controls__list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-bottom: -10px;
  margin-right: -10px;
  margin-left: 12px;
}
.controls__item {
  margin-bottom: 10px;
  margin-right: 10px;
}
.controls__elem {
  cursor: pointer;
}

/* make bg change on click to next class tag */
.controls__checkbox:checked ~ .controls__tag {
  background: #b9eae4;
  transition: 0.4s;
}
.controls__checkbox {
  display: none;
}
.form__btn {
  display: flex;
  justify-content: flex-end;
}
