.services .container {
  display: flex;
  flex-flow: column nowrap;
}
section.services {
  margin-bottom: 64px;
}
.page__title {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.35;
  display: inline-block;
}
