.partners {
  background: #f4f5f5;
  color: #1a1b1e;
  padding-top: 124px;
  padding-bottom: 40px;
}
.partners__title {
  font-size: 48px;
  line-height: 1.3;
  font-weight: 700;
  color: #1a1b1e;
  margin-bottom: 60px;
}
.partners__list {
  min-height: 240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.partners__item {
  margin-left: 80px;
}
.partners__item:nth-child(4n + 1) {
  margin-left: 0;
}
.partners__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 60px;
  filter: grayscale(100%);
  transition: filter 0.4s ease-in;
}
.partners__link:hover {
  filter: grayscale(0);
  transition: filter 0.4s ease-out;
}
